$Primary:#2563eb;
$Secondary:#7c3aed;
$Accent: #f59e0b;
$TextDark: #1f2937;
$TextLight: #6b7280;
$White: #ffffff;
$LightGray: #f9fafb;
$Basefontsize: 16px;
$Fontfamily: 'Segoe UI', Roboto;
$XS: 0.5rem;
$SM: 1rem;
$MD: 1.5rem;
$LG: 2rem;
$XL: 3rem;
$twoXL: 4rem;

body {
    margin: 0;
    font-family: $Fontfamily;
    background-color: $White;
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
    color: $TextDark;
}

.heading-1 {
    color: $TextDark;
}

.heading-2 {
    color: $Primary;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    box-shadow: 0 1px 1px 1px rgb(208, 207, 207);
}

.nav-elements {
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.homepage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 50px;
}

@media (max-width:1046px) {
    .homepage {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 20px;
        .homepage-1 {
            .buttons {
                justify-content: center;
            }
        }
    }
}

.homepage-1 {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-weight: 600;
        .h1 {
            font-size: $twoXL;
        }
        .h2 {
            font-size: $MD;
            color: gray;
        }

        .buttons {
            display: flex;
            gap: 15px;
        }
        .butt-1,.butt-2 {
            width: 100px;
            height: 40px;
            border-radius: 5px;
        }
        .butt-1 {
            background-color: $Primary;
            color: $White;
            border: none;
        }
        .butt-2 {
            border: 2px solid $Primary;
            color: $Primary;
            background-color: $White;
        }
}

.hero-image {
    width: 550px;
    height: 450px;
    border-radius: 10px;
}

.about {
    background-color: rgb(246, 245, 245);
    padding: 20px;
    min-height: 100vh;
}

.about-h1,.about-h2,.courses-h1, .courses-h2, .custom-form-h1, .custom-form-h2 {
    text-align: center;
}

.about-h1-highlight, .courses-h1-highlight, .custom-form-h1-highlight {
    color: $Primary;
}

.about-h1 {
    font-size: $LG;
}

.about-h2, .courses-h2, .custom-form-h2{
    color: gray;
    font-size: $SM;
}

.about-image-wrapper {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}

@media (max-width:1046px) {
    .about-image-wrapper {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
}

.about-images {
    width: 150px;
    height: 150px;
    border-radius: 15px;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $White;
    padding: 30px 10px;
    p {
        font-size: $SM;
        text-wrap: wrap;
        text-align: center;
    }
    border-radius: 10px;
}

.courses {
    min-height: 90vh;
}


.courses-cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
}

.courses-card {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(236, 226, 226, 0.726);
    width: 250px;
    padding-bottom: 10px;
    position: relative;
    
    p {
        font-size: 0.8rem;
        color: $TextDark;
        text-align: center;
    }
    .beginner-float-box {
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: $Accent;
        padding: 5px;
        border-radius: 20px;
        color: $White;
        font-size: 0.8rem;
    }
}

.courses-card-images {
    width: 250px;
    height: 130px;
    border-radius: 15px 15px 0 0;
}

.footer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    button {
        color: $Primary;
        border: none;
    }
}

.hrline {
    background-color: rgb(145, 142, 142);
    width: 100%;
    height: 1px;
    margin: 5px;
}

.stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $Primary;
    color: $White;
    min-height: 25vh;
}

.custom-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.custom-form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 500px;
    align-self: center;
    background-color: $LightGray;
    padding: 20px;
    border-radius: 10px;
}

.form-radio-group-wrapper{
    display: flex;
}

textarea {
    resize: none;
}

.terms-and-conditions-highlight {
    color: $Primary;
    text-decoration: underline;
}

.form-submit-button {
    height: 35px;
    background-color: $Primary;
    color: $White;
    border: none;
    border-radius: 7px;
}